extends layout

block content
  link(rel='stylesheet', href='/stylesheets/alternate.css')
  link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet' ,type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Lobster+Two:400,700,700italic' rel='stylesheet' type='text/css')
  div.back-layer
    div.color-back
    div.image-back
  div.container-fluid
    div.container
      div.col-sm-12.landing-page.alternate
        div.row.hero-text
          div.col-sm-2
          div.col-sm-8
            h1.center.main-hero content
              span.thin-hero
                | coup
            h1.lead.center A simpler, more direct approach to connecting the biggest brands with the best content 
              | creators. Sign up now. 
          div.col-sm-2
        div.row.landing-body 
          div.col-lg-3
          div.col-lg-6
            <!-- Begin LaunchRock Widget -->
            div(id="lr-widget" rel="CE49GBNX")
              script(type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js")
            <!-- End LaunchRock Widget -->
          div.col-lg-2.hidden
            form(role='form')
              div.form-group
                input.form-control(type="text", placeholder="email address")
              div.form-group 
                input.form-control(type="text", placeholder="link (i.e. reel, personal website, linkedin)") 
                p.help-block Membership will only be open to those who have 
                  | successful work experience within the industry, so please 
                  | include a link to your work.
              button.btn.btn-block.btn-success.btn-lg(type="button") INVITE ME
          div.col-lg-3
        div.nav-links
          ul.list-unstyled.list-inline
            li 
              a(href="#faq") FAQ
            li 
              a(href="#") Contact
      div.more-prompt.hidden-sm.hidden-xs
        div.row.center
          div.col-sm-5
          div.col-sm-2
            a.plain-link(href="#faq")
              h4 MORE
            h3.more-icon.glyphicon.glyphicon-chevron-down
          div.col-sm-5
    div.col-sm-12.q-and-a#faq
      div.row
        div.col-3.offset-6
          h1.center Frequently Asked Questions
      div.row.question.center
        div.col-sm-2.col-lg-3
        div.col-sm-8.col-lg-6
          h3.question How does it work?
          p.answer Search and bid on projects for the biggest brands and biggest agencies.
            | Real work. Real opportunities. We are launching soon so make sure to apply for an invitiation here.
            | Membership will only be open to those who have successful work experience 
            | within the industry, so please include  a link to your work when you sign up. 
        div.col-sm-2.col-lg-3
      div.row.question.center
        div.col-sm-2.col-lg-3
        div.col-sm-8.col-lg-6
          h3.question What is this nonsense?
          p.answer This is not nonsense! We believe in the power of the internet to connect 
            | people. With so many artists and content creators representing their 
            | work online, it only seems logical that there should be a place to
            | find real work and real projects. Don't rely on your rep's rolodex 
            | alone. You have the entire world to connect with at your fingertips. 
        div.col-sm-2.col-lg-3
      div.row.question.center
        div.col-sm-2.col-lg-3
        div.col-sm-8.col-lg-6
          h3.question What makes this more direct and more simple? 
          p.answer One big piece is our simplified bidding process. Bidding isn’t 
            | easy. In fact, bidding is an involved process that takes time, costs
            | money, and naturally doesn’t always work out. It can also be really 
            | discouraging to spend a day or two writing a treatment and putting 
            | together a budget only to bid against 100 others. We believe you 
            | shouldn’t have to do all that work just to get on a brand’s radar. 
            | We’re streamlining the bidding process at ContentCoup and making it 
            | that much easier for you to focus on what matters. We offer a multi-tiered 
            | bidding process where you are only putting together a full treatment 
            | and budget after you have made it to the final few. You’re able to 
            | put feelers out for more jobs and not waste time on the long-shot gambles.
        div.col-sm-2.col-lg-3
      div.row.question.center
        div.col-sm-2.col-lg-3
        div.col-sm-8.col-lg-6
          h3.question What if I have an idea but don’t know how to approach a brand?
          p.answer How many times have you had a great idea for a piece of content, 
            | but it wasn’t for a brand you were connected with? Get a direct line 
            | to these brands and “ping” the ones you’re interested in and have 
            | ideas for. We believe collaboration is an integral part of the process. 
            | Agencies and brands will approach content creators, but content creators 
            | should also be able to approach brands in a practical, non-invasive way. 
            | This isn’t a one-way street. The best ideas and best content should always win out.
        div.col-sm-2.col-lg-3
      div.row.question.center
        div.col-sm-2.col-lg-3
        div.col-sm-8.col-lg-6
          h3.question Is this just another talent agency?
          p.answer Nope. This is an online community of talented content creators
            | ultimately representing themselves. Just as you might approach a 
            | a brand directly with an idea, now you have an online platoform 
            | where the opportunities come to you. Frankly, we are surprised this
            | didn't already exist. You can thank us later. 
        div.col-sm-2.col-lg-3
      div.row.question.center
        div.col-sm-2.col-lg-3
        div.col-sm-8.col-lg-6
          h3.question What if I'm signed to a talent agency or production company?
          p.answer Sign up! It won’t hurt to potentially bring more work and more 
            | projects to the table. If you’re a director, producer, production 
            | company, post-house, etc. sign up and let more opportunities come to you.
        div.col-sm-2.col-lg-3
      div.row.question.center
        div.col-sm-2.col-lg-3
        div.col-sm-8.col-lg-6
          h3.question Will membership be free? 
          p.answer Our ultimate goal is to build a self-sufficient 
            | community of talented creatives. We might have to charge something
            | to keep things running, but it would be a far cry from any agency
            | percentage you're used to didshing out. We want to keep more money
            | in the hands of the conent creators and more money into creating the
            | content itself. More efficient use of brand's advertising dollars 
            | and more money to the content creators just seems to make sense. 
            | We think we're on to something here.  
        div.col-sm-2.col-lg-3
    