doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/vendor/bootstrap/bootstrap.min.js')
  body
    block content
