body {
  font: 18px "source sans pro", Helvetica, Arial, sans-serif;
  line-height:1.5;
  background: rgb(255,255,255); 
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
}

a {
  color: #00B7FF;
}

.landing-page {
	padding-top:20%;
}
.main-hero {
	font-size:3em;
	font-weight:bold;
}

.hero-text {
}

.thin-hero {
	font-weight:200;
}

.q-and-a {
	padding-top:40px;
}

.answer {
	/* font-family:"source sans pro";*/
}

.nav-links {
	position: absolute;
	bottom:0;
	float:left;
	margin-left:95%;
	width:130px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.home-tile img {
		width:100%;
	}
}

/*helpers */
.center {
	text-align:center;
}

/*my beta list */
#MyBetaList {
	background-color:transparent;
}

.LR-box-devices {
	display:none;
}


input[type="submit"] .LR-sign-up-submit {
	cursor: pointer;
	z-index: 2;
	right: 0;
	top: 0;
	border: none;
	color: #ffffff;
	padding: 9px 12px !important;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0 0, 0 1%, from(#55BA3F), to(#168B47));
	background-image: -webkit-linear-gradient(top, #55BA3F, #168B47);
	background-image: -o-linear-gradient(top, #55BA3F, #168B47);
	background-image: linear-gradient(to bottom, #55BA3F, #168B47);
	background-image: -moz-linear-gradient(top, #55BA3F, #168B47);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
	float: left;
	padding: 10px 5%;
	text-align: center;
	max-height: 38px;
	line-height: 18px;
	width: 15%;
	padding: 0px;
	min-width: 48px;
	border-right: 1px solid red;
	border-top: 1px solid green;
	border-bottom: 1px solid #000;
}
